{{>header}}

{{>navigation}}

<div class="row">
  <div class="leftcolumn">
    <div class="card">
      <h2>Editors</h2>
      <h3>Users Table</h3>
      <table>
        <thead>
          <tr>
            <th>Username</th>
            <th>Password</th>
            <th>Level</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
        {{#users}}
        <tr>
          <td>{{username}}</td>
          <td>{{password}}</td>
          <td>{{level}}</td>
          <td><a href="/editors/delete/{{username}}">D</a></td>
        </tr>
        {{/users}}
        </tbody>
      </table>
      <br>
      <h3>Articles Table</h3>
      <table>
        <thead>
          <tr>
            <th>Title</th>
            <th>Username</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
        {{#articles_creds}}
        <tr>
          <td>{{title}}</td>
          <td>{{username}}</td>
          <td><a href="/editors/deletearticle/{{title}}">D</a></td>
        </tr>
        {{/articles_creds}}
        </tbody>
      </table>


    </div>
  </div>

  {{>sidebar}}

</div>

{{>footer}}
